[Desktop Entry]
Encoding=UTF-8
Name=Rypton
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_rypton
X-KDE-PluginInfo-Author=Carsten Niehaus
X-KDE-PluginInfo-Email=kalzium@kde.org
X-KDE-PluginInfo-Name=Rypton
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
